 @charset "utf-8";
 /* CSS Document */
p {
	color: green;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: lightblue;
	padding: 20px;
}
.paragraf_2 {color:darkcyan; background-color: rgba(255, 255, 255, 0.7)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin: 0px;
	width: 50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: cadetblue; 
}

span {color: rgb(255, 0, 0, 0);}
.pozadina {
	background-image: url("slike/slika7.jpg");
}
.drugapozadina {
	background-color: lightblue;
}
a:link {
	color: blue;
	background-color: beige;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgray;
}